# Ignore everything by default
*

# Not these files:

## Setup of git managed home directory
!*.bashrc
!.profile
!.gitignore*

##
!.local/
.local/bin/*
!.local/bin/
.local/bin/install/*
!.local/bin/install/
!.local/bin/install/**

