# Ignore everything by default
*

# Not these files:

## Setup of git managed home directory
!*.bashrc
!.profile
!.gitignore*

## Local installed software
!.local/
.local/bin/*
!.local/bin/
.local/bin/install/*
!.local/bin/install/
!.local/bin/install/**

## Security
!.ssh/
!.ssh/config
